################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BIRD/v15/.suo
/BIRD_DB/bin/Debug
/BIRD_DB/obj/Debug
/BIRD_DB/BIRD_DB.jfm
/BIRD_DB/BIRD_DB.dbmdl
